[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "grub2"]
	path = grub2
	url = https://git.savannah.gnu.org/git/grub.git
[submodule "linux"]
	path = linux
	url = git@github.com:torvalds/linux.git
[submodule "busybox"]
	path = busybox
	url = git@github.com:mirror/busybox.git
